{% extends "layout.html" %}

{% block content %}
<h3>
    <br>
    <Center> <b> Editar niveles del Pastel </b> </Center>

</h3>
   <br>
   <br>
    <form action="/niveles_fedita/{{niveles.0}}" method="post">
        <div class="container">
          <div class="form-row">
               <div class="col-xs-12 ">
                <div class="mb-3">
                      <label for="descripcion" class="form-label"><strong>Ingrese los niveles del pastel:</strong></label>
                      <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="niveles" value="{{niveles.1}}">
                </div>

                </div>
              <button type="submit" class="btn btn-info">Actualizar</button>
          </div>
    </div>

</form>

{% endblock %}