{% extends "layout.html" %}

{% block content %}
<!Doctypehtml>
<html lang="es">
<head>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <meta charset="UTF-8">
    <title>Back to</title>
    </head>
    <nav class="navegacion">
        <ul class="menu">
                </ul>
            </li>
            <div class="container">
                <br>
                <center><h1><strong>Lista de Pedidos</h1></center>
                <center><table width="80%" border="0" cellpadding="2%"></table></center>
            <div class="container">
            <br>
            <footer>
            <td>
            <table class="table">
            <thead>
            <tr>
            <th class="table-dark" scope="col">Nombre del Pedido <th class="table-dark" scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <table class="table table-striped table-secondary">
                {% for i in ped %}
            <tr> 
            <td width="55%">{{i.1}}</td>
            <td width="15%"><center><a class="btn btn-secondary"
            href="/pendientes_autorizacion_fdetalle/{{i.0}}" role="button">Detalle</a></center></td>
            <td width="15%"><center><a class="btn btn-secondary"
            href="/pedido" role="button">Pedido</center></td>
            <td width="15%"><center><a class="btn btn-outline-secondary"
            href="/pendientes_autorizacion_borrar/{{i.0}}" role="button">Borrar</a></center></td>
            </tr>
            {% endfor %}
            </table>
            </tbody>
            </table>
            <h3>
            <h3><CENTER> <b> Detalle: </b> </CENTER></h3>
            <br>
            <form class="row g-3" action="/puesto_fdetalle/" method="GET"><form class="row g-3" action="/pedido_fdetalle/" method="GET">
            <div class="col-md-12"></div>

            <div class="row">
            <div class="col-3">
            <label for="folio" class="form-label">Folio</label>
            <input type="text" class="form-control" name="folio" id="folio" value="{{dat.1}}"
            readonly="readonly"></input>
           </div>
           
           <div class="col-7">
            <label for="idTipopan" class="form-label">Tipo de Pan</label>
            <input type="text" class="form-control" name="idTipopan" id="idTipopan" value="{{catTipopan.1}}"
            readonly="readonly"></input>
           </div>

            <div class="col-2">
            <label for="fechapedido" class="form-label">Fecha de pedido</label>
            <input type="date" class="form-control" name="fechapedido" id="fechapedido" value="{{dat.3}}"
            readonly="readonly"></input>
            </div>
            </div>
           
            <div class="row">
                <div class="col-12">
                    <label for="idPedido" class="form-label">Pedido</label>
                    <select name="idPedido" id="idPedido" class = "form-select" >
                    <option selected>Elige...</option>
                    {% for i in catPedido %}
                    <option value="{{i.0}}">{{i.1}}</option>
                    {% endfor %}
                    </select>
                    </div>
                  </div>

            <div class="row">
            <div class="col-4">
            <label for="fechaautorizacion" class="form-label">Fecha de Autorizacion</label>
            <input type="date" class="form-control" name="fechaautorizacion" id="fechaautorizacion" value="{{dat.3}}"
            readonly="readonly"></input>
            </div>

            <div class="col-4">
            <label for="fechaentrega" class="form-label">fecha de Entrega</label>
            <input type="date" class="form-control" name="fechaentrega" id="fechaentrega" value="{{dat.3}}"
            readonly="readonly"></input>
            </div>
       
            <div class="col-4">
            <label for="tipopago	" class="form-label">Tipo de Pago</label>
            <input type="text" class="form-control" name="tipopago	" id="tipopago" value="{{dat.1}}"
            readonly="readonly"></input>
            </div>
            </div>

            <div class="row">
            <div class="col-12">
            <label for="bancos" class="form-label">Bancos:</label>
            <input type="text" class="form-control" name="bancos" id="bancos" value="{{dat.3}}"
            readonly="readonly"></input>
            </div>
            </div>

            <div class="row">
            <div class="col-6">
            <label for="codPedido" class="form-label">Código de Pedido</label>
            <input type="text" class="form-control" name="codPedido" id="codPedido" value="{{dat.1}}"
            readonly="readonly"></input>
            </div>

            <div class="col-6">
            <label for="idTipopan" class="form-label">Tipo de Pan</label>
            <input type="text" class="form-control" name="idTipopan" id="idTipopan" value="{{catTipopan.1}}"
            readonly="readonly"></input>
            </div>
            </div>

            <div class="row">
            <div class="col-12">
            <label for="tipoevento" class="form-label">Tipo de Evento</label>
            <input type="text" class="form-control" name="tipoevento" id="tipoevento" value="{{dat.4}}"
            readonly="readonly"></input>
            </div>
            </div>

            <div class="row">
            <div class="col-8">
            <label for="fechaentrega" class="form-label">Fecha de Entrega</label>
            <input type="text" class="form-control" name="fechaentrega" id="fechaentrega" value="{{dat.5}}"
            readonly="readonly"></input>
            </div>

            <div class="col-4">
            <label for="adelanto" class="form-label">Adelanto</label>
            <input type="text" class="form-control" name="adelanto" id="adelanto" value="{{dat.6}}"
            readonly="readonly"></input>
            </div>
            </div>

            <div class="row">
            <div class="col-md-12">
            <label for="nomcliente" class="form-label">Nombre del Cliente</label>
            <input type="text" class="form-control" name="nomcliente" id="nomcliente"
            value="{{dat.8}}" readonly="readonly"></input>
            </div>
            </div>

            <div class="row">
            <div class="col-md-12">
            <label for="identificacion" class="form-label">Identificacion del cliente</label>
            <input type="text" class="form-control" name="identificacion" id="identificacion" value="{{dat.16}}"
            readonly="readonly"></input>
            </div>
            </div>

            <div class="row">
            <div class="col-md-3">
            <label for="idCubierta" class="form-label">Cubierta</label>
            <input type="text" class="form-control" name="idCubierta" id="idCubierta"
            value="{{catCubierta.1}}" readonly="readonly"></input>
            </div>

            <div class="col-md-3">
            <label for="edad" class="form-label">Edad</label>
            <input type="text" class="form-control" name="edad" id="edad" value="{{dat.10}}"
            readonly="readonly"></input>
            </div>


            <div class="col-md-3">
            <label for="idForma" class="form-label">Forma</label>
            <input type="text" class="form-control" name="idForma" id="idForma"
            value="{{catForma.1}}" readonly="readonly"></input>
            </div>
            </div>
           
            </div>
            </form>
            </div>
            </footer>       
        </ul>
    </nav>
            <br>
        </body>

  {%endblock%}
</html>